html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

div.container {
  display: flex;
  justify-content: center;
}

div.ad-1 {
  box-sizing: content-box;
  width: 300px;
  height: 180px;
  border: 1px solid black;
  display: block !important;
}